.mainContainer {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 0px 1fr;
    grid-template-rows: auto 1fr 10px;
    grid-template-areas: 
        "header header"
        "navigation content"
        "navigation footer";
}

.mainHeader {
    grid-area: header;
}

.mainContent {
    grid-area: content;
    overflow-x: auto;
}

.mainFooter {
    grid-area: footer;
}

.mainNavigation {
    grid-area: navigation;

}