.gameSetup {
    margin-left: 10px;
    margin-top: 10px;
}

.gameSetupForm {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.gameSetupSection {
    width:500px;
    margin-left:50px;
    margin-right:50px;
    margin-top: 30px;
}

.gameSetupSectionHeader {
    font-size:25px;
    color:$theme-dark-highlight;
}