.gameTracker {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}

.gameTrackerPlayerList {
    display: flex;
    flex-wrap: wrap;
}

.gameTrackerHeader {
    font-size:25px;
    color:$theme-dark-highlight;
}

.gameTrackerPlayer {
    border-style: solid;
    border-width: 1px;
    border-color: $theme-dark-context;
    margin: 5px;
}

.gameTrackerPlayerName {
    background-color: $theme-dark-context;
    color: $theme-dark-highlight;
    font-size: 20px;
    padding:10px;
}

.gameTrackerPlayerHandHeader {
    font-size: 15px;
    font-weight: bold;
    padding:10px;
}

.gameTrackerPlayerCard {
    list-style-type: none;
    margin: 0;
}

.gameTrackerSuspicion {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}