$text-color: rgb(68, 68, 68) !default;
$text-font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;

$theme-dark: #20232a;
$theme-dark-context: rgb(40, 44, 52);
$theme-dark-text: white;
$theme-dark-icon: white;
$theme-dark-highlight: rgb(97, 218, 251);

