.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.app > div:nth-child(1) {
    grid-row: 1;
}

.app > main {
    overflow-y: auto;
    grid-row: 2;
}

.app > footer {
    grid-row: 3;
}
