@viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px;
}